.footer__top-info-wrapper 
  .wrapper-info
    p 1 396 362 874 ₽
    p Выручка российской сети в этом<br>месяце. В прошлом — 2 460 305 416 ₽
  .wrapper-location
    p 688 пиццерий
    p в 14 странах, включая Китай,<br>США и Великобританию