.footer__top-wrapper
  .footer__list-wrapper
    .footer__link-list
      p Додо Пицца
      a(href="#") О нас
      a(href="#") Додо-книга
      a(href="#") Блог «Сила ума»
      a(href="#") Додо ИС
    .footer__link-list
      p Работа
      a(href="#") В пиццерии
      a(href="#") В контакт- центре
    .footer__link-list
      p Партнерам
      a(href="#") Франшиза
      a(href="#") Инвестиции
      a(href="#") Поставщикам
      a(href="#") Предложить помещение
    .footer__link-list
      p Это интересно
      a(href="#") Экскурсии и мастер-классы
      a(href="#") Корпоративные заказы
  .footer__top-connect-wrapper
    .footer__top-app
      include icon-google-play.svg
      include icon-app-store.svg
    .footer__top-contacts 
      a(href="tel:+88003020060") 8-800-302-00-60
      p Звонок бесплатный
      a(href="mailto:feedback@dodopizza.com") feedback@dodopizza.com
