.footer-bottom-wrapper
  .footer-b__logo-copyright
    include logo-footer.svg 
    p © 2021
  .footer-b__links
    a(href="#") Правовая информация
    a(href="#") Калорийность и состав
    a(href="#") Помощь
  .footer-b__socials 
    a(href="")
      img(src="/style/img/footer-icons/1.png", alt="facebook icon")
    a(href="")
      img(src="/style/img/footer-icons/2.png", alt="instagram icon")
    a(href="")
      img(src="/style/img/footer-icons/3.png", alt="ok icon")
    a(href="")
      img(src="/style/img/footer-icons/4.png", alt="vk icon")
    a(href="")
      img(src="/style/img/footer-icons/5.png", alt="youtube icon")