.footer__top-wrapper
  .footer__list-wrapper
    .footer__link-list
      a(href="#") Додо Пицца
      a(href="#") О нас
      a(href="#") Додо-книга
      a(href="#") Блог «Сила ума»
      a(href="#") Додо ИС
    .footer__link-list
      a(href="#") Работа
      a(href="#") В пиццерии
      a(href="#") В контакт- центре
    .footer__link-list
      a(href="#") Партнерам
      a(href="#") Франшиза
      a(href="#") Инвестиции
      a(href="#") Поставщикам
      a(href="#") Предложить помещение
    .footer__link-list
      a(href="#") Это интересно
      a(href="#") Экскурсии и мастер-классы
      a(href="#") Корпоративные заказы
