nav
  ul
    li 
      a(href="#pizza-section") Пицца
    li
      a(href="#combo-section") Комбо
    li
      a(href="#snacks-section") Закуски
    li
      a(href="#desserts-section") Десерты
    li
      a(href="#drinks-section") Напитки
    li
      a(href="#others-section") Другие товары