mixin card(imageUrl, title, content, price, buttonText)
  .card
    img(src=imageUrl)
    .card-text
      h3= title
      p.card-text-content= content
    .card-price 
      p.card-price-p 
        =price
      +button-S(buttonText)
