section {
  margin-bottom: 70px;
  h2 {
    margin-bottom: 40px;
  }
}
#new-and-popular-section {
  // padding-left:5.6em;
  padding-left: 170px;

    @media (max-width:1999px) {
    padding-left: 100px;
    }
    @media (max-width:740px) {
      padding-left:0;
    }

  h2 {
    margin-left:0.8em;
    margin-bottom: 30px;
  }
}