@import 'card';
@import 'section';
@import 'button';


// - - - Common styles - - - 

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color:#000000;
  font-family: 'Nunito', sans-serif;
  // overflow-x: hidden;
}

.wrapper {
  // width:1280px;
  margin: 0 auto;
  padding-top:32px;
  padding-left:110px;
  padding-right:110px;

  @media (max-width:740px) { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

// - - - Header Top (logo + phone) - - - 

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom:2.5em;
}
.logo-wrapper {
  display:flex;
  flex-direction:column;
  position:relative;

  .logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #343434;
  }
}

.header_contact-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-end;

  a {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #999999;
    }
}

//- - - Header bottom (nav + button) - - - 

.header__nav-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:30px;
  
}

nav {
  font-size: 14px;
  line-height: 19px;
  ul {
    display:flex;
    list-style-type:none;
  }
  li {
    margin-right: 23px;
    a {
      &:hover {
        color: #F96900;
      }
    }
  }
}



// - - - Footer - - - 

.footer {
  display: flex;
  flex-direction:column;
  background-color: #464C55;
  padding: 50px 110px 36px;
  color:#FFFFFF;
}

// - footer-top (site-map, phone, info)

.footer__top-wrapper {
    @media (max-width:740px) {
      margin-bottom: 20px;
    }
  .footer__list-wrapper {
    display: grid;
    grid-template-columns: 137px 147px 154px 166px;
    grid-template-rows: auto;
    grid-gap:20px; 

    @media (max-width:800px) {
      grid-row-gap: 30px;
      grid-template-rows: max-content;
      grid-template-columns: max-content;
      
    }

    .footer__link-list {
      display:flex;
      flex-direction: column;
      line-height: 2.5em;

      a {
        color: #FFFFFF;
        font-weight: 400;
        opacity: 0.7;

        &:first-of-type {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          opacity: 1; 
        }
      }
    }
  }
}



// - footer-bottom (logo, copyright, socials)

.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top:40px;

  @media (max-width:999px) {
    flex-direction: column;
  }
  
  .footer-b__logo-copyright {
    display:flex;
  
    svg {
      margin-right:28.3px;
    }
    p {
      color:#FFFFFF;
      opacity: 0.7;
    }
  }
  .footer-b__links {
    display: flex;
    opacity: 0.7;
  
    a {
      color:#FFFFFF;
      margin-right:20px;
    }
    @media (max-width:1208px) {
      flex-direction: column;
    }
    @media (max-width:740px) {
      order: 2;
    }
    
  }
  .footer-b__socials {
    display: flex;
    a {
      margin-right:6px;
    }
    
    @media (max-width:740px) {
      order: 1;
    }
  }
}