* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: #000000;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  padding-top: 32px;
  padding-left: 110px;
  padding-right: 110px;
}

.button {
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.logo-wrapper .logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #343434;
}

.header_contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.header_contact-wrapper a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.header_contact-wrapper p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #999999;
}

.header__nav-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

nav {
  font-size: 14px;
  line-height: 19px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-right: 23px;
}
nav li a:hover {
  color: #F96900;
}

.button-XS {
  width: 104px;
  height: 40px;
  background-color: #F96900;
}
.button-XS span {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.button-S {
  background-color: #FFF0E6;
  width: 120px;
  height: 40px;
}
.button-S:hover {
  background-color: #F96900;
}
.button-S span {
  font-size: 16px;
  line-height: 22px;
  color: #D15700;
}
.button-S span:hover {
  color: #FFFFFF;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #464C55;
  padding: 50px 110px 36px;
  color: #FFFFFF;
}

.footer__top-wrapper .footer__list-wrapper {
  display: grid;
  grid-template-columns: 137px 147px 154px 166px;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.footer__top-wrapper .footer__list-wrapper .footer__link-list {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
}
.footer__top-wrapper .footer__list-wrapper .footer__link-list a {
  color: #FFFFFF;
  font-weight: 400;
  opacity: 0.7;
}
.footer__top-wrapper .footer__list-wrapper .footer__link-list a:first-of-type {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  opacity: 1;
}

.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.footer__bottom-wrapper .footer-b__logo-copyright {
  display: flex;
}
.footer__bottom-wrapper .footer-b__logo-copyright svg {
  margin-right: 28.3px;
}
.footer__bottom-wrapper .footer-b__logo-copyright p {
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__bottom-wrapper .footer-b__links {
  display: flex;
  opacity: 0.7;
}
.footer__bottom-wrapper .footer-b__links a {
  color: #FFFFFF;
  margin-right: 20px;
}
.footer__bottom-wrapper .footer-b__socials {
  display: flex;
}
.footer__bottom-wrapper .footer-b__socials a {
  margin-right: 6px;
}/*# sourceMappingURL=index.css.map */