@import 'card';
@import 'section';
@import 'button';
@import 'footer';


// - - - Common styles - - - 

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color:#000000;
  font-family: 'Nunito', sans-serif;
  // overflow-x: hidden;
}

.wrapper {
  // width:1280px;
  margin: 0 auto;
  padding-top:32px;
  padding-left:110px;
  padding-right:110px;

  @media (max-width:740px) { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

// - - - Header Top (logo + phone) - - - 

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom:2.5em;
}
.logo-wrapper {
  display:flex;
  flex-direction:column;
  position:relative;

  .logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #343434;
  }
}

.header_contact-wrapper {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-end;

  a {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #999999;
    }
}

//- - - Header bottom (nav + button) - - - 

.header__nav-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:30px;
  
}

nav {
  font-size: 14px;
  line-height: 19px;
  ul {
    display:flex;
    list-style-type:none;
  }
  li {
    margin-right: 23px;
    a {
      &:hover {
        color: #F96900;
      }
    }
  }
}

